{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="about" class="about section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
          <div class="about-img">
            <img src="{% static 'images/apropos.jpg' %}" alt="" class="" width="400">
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
          <div class="about-text">
            <h2>SIDI EXPRESS Agency <br> Services Ever</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eius magni qui officiis 
              suscipit perferendis aspernatur facilis corrupti velit? Inventore ipsa provident 
              sit tenetur ipsam temporibus recusandae eveniet sapiente deleniti.!
            </p>
            <a type="submit" href="#partenaire" class="btn btn-success">Nos partenaire</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}